<div class="container w-75 mt-4 p-5 border border-white" style="background:rgba(26, 98, 166, 0.374); border-radius: 20px;">
    <h1 class="container  border border-white" style="color: white; ">Transaction History</h1>
    <table style="border-radius: 30px ;" class="border border-white w-100 container">
    <thead class="border border-white" style="color: white;">
        <th class="border border-white" >type</th>
        <th class="border border-white">amount</th>
    </thead>
    <tbody style="color: white;">
        <tr>
            <td class="border border-white">DEBIT</td>
            <td class="border border-white">1000</td>
        </tr>
        <tr>
            <td class="border border-white">CREDIT</td>
            <td class="border border-white">1000</td>
        </tr>
    </tbody>
</table>
</div>
